<main class="relative flex justify-center mx-auto max-w-8xl sm:px-2 lg:px-8 xl:px-12">
  <label for="navigation" class="fixed bottom-0 left-0 z-50 flex items-center justify-center w-12 h-12 mb-4 ml-4 bg-white border rounded-full shadow-lg cursor-pointer text-slate-600 border-slate-300 lg:hidden transition duration-200 ease-in-out active:scale-95">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4 8h16M4 16h16" />
    </svg>
  </label>

  <input type="checkbox" name="navigation" id="navigation" class="hidden peer" />
  <div class="fixed top-[3.5rem] h-screen shadow-xl px-4 left-0 hidden peer-checked:block lg:relative lg:top-0 lg:h-auto lg:px-0 lg:block lg:flex-none lg:shadow-none">
    <div class="absolute inset-y-0 right-0 w-full lg:w-[50vw] bg-white lg:bg-slate-50"></div>

    <nav class="sticky top-[4.5rem] w-64 pr-8 text-base lg:text-sm xl:w-72 xl:pr-16">
      <ul role="list" class="-ml-0.5 h-[calc(100vh-4.5rem)] overflow-y-auto py-7 pl-0.5 space-y-8">
        {{ $currentNode := . }}
        {{range .Site.Home.Sections.ByWeight}}
        {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode}}
        {{ end }}
      </ul>
    </nav>
  </div>

  <div class="flex-auto max-w-2xl min-w-0 px-4 py-10 lg:max-w-none lg:pr-0 lg:pl-8 xl:px-16">
    <article class="">
      <header class="">
        <p class="text-base font-medium text-slate-500">
          {{ replace .Type "-" " " | title }}
        </p>

        <h1 class="text-3xl font-bold tracking-tight text-slate-900">
          {{ .Title }}
        </h1>
      </header>

      <p class="mt-2 text-xl text-slate-600">
        {{.Description}}
      </p>

        
      {{ if .Content }}
          <div class="mt-8 prose prose-slate max-w-none prose-headings:font-semibold prose-headings:tracking-tight prose-lead:text-slate-500 prose-a:font-semibold prose-a:underline prose-pre:bg-slate-900">
            {{.Content}}
          </div>
          {{ else }}
          <div class="bg-light p-4">
            <ul class="page-list">
              {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
            </ul>
          </div>
          {{ end }}
    </article>

    <dl class="flex pt-6 mt-6 border-t border-slate-200">
       <!-- Next prev page -->
       {{ $currentNode := . }}
       {{ template "menu-nextprev" dict "menu" .Site.Home "currentnode" $currentNode }}
       {{ define "menu-nextprev" }}
       {{$currentNode := .currentnode }}
       {{ if ne .menu.Params.hidden true}}
       {{if hasPrefix $currentNode.Permalink .menu.Permalink }}
       {{ $currentNode.Scratch.Set "NextPageOK" "OK" }}
       {{ $currentNode.Scratch.Set "prevPage" ($currentNode.Scratch.Get "prevPageTmp") }}
       {{else}}
       {{if eq ($currentNode.Scratch.Get "NextPageOK") "OK"}}
       {{ $currentNode.Scratch.Set "NextPageOK" nil }}
       {{ $currentNode.Scratch.Set "nextPage" .menu }}
       {{end}}
       {{end}}
       {{ $currentNode.Scratch.Set "prevPageTmp" .menu }}

       {{ $currentNode.Scratch.Set "pages" .menu.Pages }}
       {{ if .menu.IsHome}}
       {{ $currentNode.Scratch.Set "pages" .menu.Sections }}
       {{ else if .menu.Sections}}
       {{ $currentNode.Scratch.Set "pages" (.menu.Pages | union .menu.Sections) }}
       {{end}}
       {{ $pages := ($currentNode.Scratch.Get "pages") }}

       {{ range $pages.ByWeight  }}
       {{ template "menu-nextprev" dict "menu" . "currentnode" $currentNode }}
       {{end}}
       {{ end }}
       {{ end }}

       {{with ($.Scratch.Get "prevPage")}}
       <div class="mr-auto text-left">
        <dt class="text-sm font-normal tracking-tight text-slate-600">
          Previous
        </dt>

        <dd class="mt-1">
          <a href="{{.Permalink }}" class="text-base font-semibold text-slate-900 hover:underline">
            {{.Title}}
          </a>
        </dd>
      </div>
       {{end}}
       {{with ($.Scratch.Get "nextPage")}}
       <div class="ml-auto text-right">
        <dt class="text-sm font-normal tracking-tight text-slate-600">
          Next
        </dt>

        <dd class="mt-1">
          <a href="{{.Permalink }}" class="text-base font-semibold text-slate-900 hover:underline">
            {{.Title}}
          </a>
        </dd>
      </div>
       {{end}}
    </dl>
  </div>
</main>

<!-- templates -->
{{ define "section-tree-nav" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
{{with .sect}}
{{safeHTML .Params.head}}
{{ $fileUniqueID := "" }}
{{ with .File }}{{ $fileUniqueID = .UniqueID }}{{ end }}
{{ $currentNodeFileUniqueID := "" }}
{{ with $currentNode.File }}{{ $currentNodeFileUniqueID = .UniqueID }}{{ end }}
<li data-nav-id="{{.Permalink}}" title="{{.Title}}" class="sidelist
  {{if eq $fileUniqueID $currentNodeFileUniqueID}}active{{end}}">
  {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
  <a href="{{.Permalink}}" class="{{if eq $fileUniqueID $currentNodeFileUniqueID}}text-slate-900 hover:text-slate-800{{else if eq $numberOfPages 0}}text-slate-600 hover:text-slate-800{{else}}font-semibold tracking-tight text-slate-900{{end}}">
    {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
  </a>
  {{ if ne $numberOfPages 0 }}
    <ul role="list" class="pl-3 mt-3 space-y-2">
      {{ range .Pages.ByWeight }}
        {{ if and .Params.hidden (not $.showhidden) }}
        {{else}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
        {{end}}
      {{end}}
    </ul>
  {{ end }}
</li>
{{ end }}
{{ end }}